<header class="head">
  <nav class="navbar navbar-expand-sm navbar-dark">
      <a class="navbar-brand" [routerLink]="['/add']" routerLinkActive="router-link-active">Inventario</a>
      <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
          aria-expanded="false" aria-label="Toggle navigation"></button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
          <ul class="navbar-nav me-auto mt-2 mt-lg-0">
              <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/add']" routerLinkActive="router-link-active"> <i class="uil uil-plus-circle"></i> Add</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/list']" routerLinkActive="router-link-active"> <i class="uil uil-list-ui-alt"></i> List</a>
            </li>
          </ul>
          <form class="d-flex my-2 my-lg-0">
              <input class="form-control me-sm-2" type="text" placeholder="Buscar">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
          </form>
      </div>
  </nav>
</header>

<section class="container pt-5 content">
  <router-outlet></router-outlet>
</section>

<footer class="footer">
  <h1>Todos los derechos reservados</h1>
</footer>