<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">

            <div class="card">
                <div class="card-header">
                    <h3 style="text-align: center;">Agregar Artículo</h3>
                </div>
                <div class="card-body">
                    <form action="">
                        
                    </form>
                </div>
                <div class="card-footer text-muted">
                    Footer
                </div>
            </div>

        </div>
    </div>
</div>
